
<% layout ("/layouts/boilerplate.ejs")%>

<body>
  <%if(createdFlash){%>
      <div class="alert alert-success flash-alert text-center  d-flex justify-content-center" role="alert">
        <%=createdFlash%>
      </div>
    <% } %>
  <%if(deletedFlash){%>
      <div class="alert alert-success flash-alert text-center d-flex justify-content-center"  role="alert">
        <%=deletedFlash%>
      </div>
    <% } %>
  <div class="list-box ">
    <% for(list of lists){%>
    <a href="/list/<%=list._id%>" class="card-box text-decoration-none">
      <div class="card m-3 border-0" style="width: 22rem">
      <div class="img">
        <img
        src="<%=list.image%>"
        class="card-img-top"
        alt="..."
        style="height: 18rem"
      />
      </div>
      <div class="card-body">
        <p class="card-text">
          <p><b><%=list.title%></b> </p>
          <p>&#8377; <%=list.price.toLocaleString("en-IN")%>/night </p>
        </p>
      </div>
    </div>
    </a>
    <%} %>
  </div>
</body>
