<% layout ("/layouts/boilerplate.ejs")%>
<body>
  <h1 style="text-align: center"><%= list.title %></h1>
  <div class="card m-3 border-0 card-detail" style="width: 50rem">
    <div class="img">
      <img
        src="<%=list.image.url%>"
        class="card-img-top"
        alt="..."
        style="height: 25rem"
      />
    </div>
    <div class="card-body">
      <p class="card-text"><%=list.title%></p>
      <p class="card-text">
        Listed by <i><b><%= list.owner.username %></b></i>
      </p>
      <p class="card-text"><%=list.description%></p>
      <p class="card-text">
        &#8377; <%=list.price.toLocaleString("en-IN")%>/night
      </p>
      <p class="card-text"><%=list.location%></p>
      <p class="card-text"><%=list.country%></p>
    </div>

    <% if(currUser && currUser._id == list.owner._id){ %>
    <div class="edit-del-btns">
      <form method="get" action="/list/<%=list._id%>/edit">
        <button class="btn btn-outline-dark">Edit</button>
      </form>
      <form method="post" action="/list/<%=list._id%>?_method=DELETE">
        <button class="btn btn-outline-danger">Delete</button>
      </form>
    </div>
    <% } %> <% if(currUser){ %>
    <div class="review mb-3 mt-3">
      <h3>Leave a review</h3>
      <form
        method="post"
        action="/list/<%=list._id%>/review"
        class="needs-validation"
        novalidate
      >
        <fieldset class="starability-coinFlip">
          <input
            type="radio"
            id="no-rate"
            class="input-no-rate"
            name="rating"
            value="1"
            checked
            aria-label="No rating"
          />
          <input type="radio" id="first-rate1" name="rating" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="rating" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="rating" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="rating" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="rating" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>

        <div class="mt-3">
          <label for="comment" class="form-label">Comment : </label>
          <textarea
            name="comment"
            id="comment"
            rows="5"
            cols="30"
            class="form-control"
            minlength="10"
            maxlength="200"
            required
          ></textarea>
          <div class="valid-feedback">Valid comment</div>
          <div class="invalid-feedback">
            Comment should be in between 10-200 words
          </div>
        </div>
        <button class="btn btn-outline-success mt-3">Submit</button>
      </form>
    </div>
    <% } %> <% if(!currUser){ %>
    <form action="/login" method="get" class="mt-3">
      <button class="btn btn-outline-warning">Review it</button>
    </form>
    <% } %>
    <h3 class="mt-3">All reviews</h3>
    <div class="display-review">
      <%if (list.reviews.length===0){%>
      <div class="no-review">
        <p>NO REVIEWS YET <i class="fa-regular fa-face-meh-blank"></i> !</p>
      </div>
      <%}else{%> <%for (review of list.reviews) {%>
      <div class="card review-card mb-3" style="width: 18rem">
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-body-secondary">
            <i
              ><i class="fa-solid fa-user"></i> @ <%= review.revOwner.username
              %></i
            >
          </h6>
          <p
            class="starability-result card-text"
            data-rating="<%=review.rating%>"
          ></p>

          <p class="card-text">"<i><%=review.comment%></i>"</p>

          <div class="mb-3 text-muted">
            <i class="fa-regular fa-clock"></i>
            <span class="card-text text-muted"
              ><%=new Date(review.created_at).toLocaleDateString()%></span
            >
            |
            <span class="card-text text-muted"
              ><%=new Date(review.created_at).toLocaleTimeString()%></span
            >
          </div>
        </div>
        <form
          method="post"
          action="/list/<%=list._id%>/review/<%=review._id%>?_method=DELETE"
        >
          <button class="btn btn-sm btn-outline-danger">Delete</button>
        </form>
      </div>
      <%}}%>
    </div>
  </div>
</body>
